<div fxLayout="column">
    <div class="hero" fxLayout="column" fxLayoutAlign="start center">
        <img src="http://cdn.venzra.io/logo/white/venzra-logo-lg.png" title="Welcome to Venzra">
        <h3>The ecommerce platform for the heart of your business</h3>
        <registration-form></registration-form>
        <p class="mat-caption">Try Venzra with your first month subscription for free</p>
    </div>

    <div fxLayout="column" fxFlexAlign="center center">
        <div fxLayout="row">
            <section fxLayout="column" fxFlex="80" fxFlex.gt-sm="60" fxFlexOffset="10" fxFlexOffset.gt-sm="20">
                <h2>Pricing</h2>

                <p>We currently offer the following pricing plans, simply sign up with your email address to create an account and when ready begin your subscription.</p>

                <article fxLayout="row" fxLayoutAlign="space-around start">
                    <mat-card *ngFor="let plan of subscriptionPlans" fxFlex>
                        <mat-card-title>{{ plan.name }}</mat-card-title>
                        <mat-card-content>
                            <p>{{ plan.symbol }}{{ (plan.quantity * plan.value) / plan.fraction }} {{ plan.currency }} per month</p>
                            <p>4% + {{ plan.fee + plan.units }} per transaction</p>
                        </mat-card-content>
                    </mat-card>
                </article>

                <p>We have a very simple approach to our plans, just pick your country, or preferred payment currency. Then add on just the extra features you need.</p>

                <p>All subscriptions can be cancelled at any time, we do not have any minimum term, however there are no refunds available for ending a subscription mid-term.</p>

                <h2>Loyalty</h2>

                <p>We reward loyalty for a number of activities you perform on your account, for example;</p>

                <p>Every 10,000 orders placed we will reduce your transaction fee by 0.1% to a minimum of 2% per transaction (static fees remain unchanged).</p>

                <p>Recommend us to others and receive fee credits against your account that can be used to pay for your subscription or enable additional features.</p>

                <h2>Platform features</h2>

                <p>The entry subscription comes with all you need to get selling online.</p>

                <mat-list dense>
                    <mat-list-item>Product management</mat-list-item>
                    <mat-list-item>Customer baskets and checkout</mat-list-item>
                    <mat-list-item>Order processing</mat-list-item>
                    <mat-list-item>Cross-selling and up-selling of products</mat-list-item>
                    <mat-list-item>Customer order history and notifications</mat-list-item>
                    <mat-list-item>...and much more</mat-list-item>
                </mat-list>

                <p>Additional services are then available as an add-on for your account.</p>

                <a href="#">View the full list</a> of included and additional features.
            </section>
        </div>
    </div>
</div>
