<header class="mat-elevation-z4">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutGap.xs="2px" fxLayoutGap="10px" fxLayoutAlign="center center">
        <a fxLayoutAlign="center" routerLink="/"><img src="/assets/logo/icon.png" title="Welcome to Venzra" /></a>
        <span fxFlex></span>
        <a mat-button routerLink="/pricing">Pricing</a>
        <a mat-button routerLink="/guides">Guides</a>
    </mat-toolbar>
</header>

<router-outlet></router-outlet>

<mat-toolbar color="primary" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
    <span class="mat-caption" fxFlex fxHide.xs="true">Copyright &copy; Venzra since 2018</span>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" fxFlex="initial" fxFlex.xs>
        <a mat-button routerLink="/terms">Terms of Service</a>
    </div>
</mat-toolbar>
