files:
  "/home/ec2-user/nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 10M;

      upstream nodejs {
        server 127.0.0.1:8081;
        keepalive 256;
      }

      server {
        listen 8080;
        server_tokens off;

        if ($http_x_forwarded_proto != 'https') {
          return 301 https://$host$request_uri;
        }

        location / {
          proxy_pass          http://nodejs;
          proxy_redirect      off;
          proxy_http_version  1.1;

          proxy_set_header    Connection          "";
          proxy_set_header    Host                $host;
          proxy_set_header    X-Real-IP           $remote_addr;
          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        }

        gzip on;
        gzip_comp_level 4;
        gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
      }

container_commands:
  01_replace_proxy_conf:
    command: cp -f /home/ec2-user/nginx.conf /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
