<mat-card role="form">
    <form fxLayout="row" fxLayoutGap="10px" (ngSubmit)="register()" [formGroup]="accountForm">
        <mat-form-field>
            <input matInput placeholder="Your email address" formControlName="emailAddress" />
            <mat-error *ngIf="accountForm.controls['emailAddress'].hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="accountForm.controls['emailAddress'].hasError('pattern')">A valid email address is required</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button type="submit" color="primary" [disabled]="accountForm.pristine || accountForm.invalid || saving">Get Started</button>
        </div>
    </form>
</mat-card>
