
<div class="hero" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex="50%">
        <h1 class="mat-display-1">Pricing</h1>
        <venzra-registration></venzra-registration>
        <p class="mat-caption">No subscription required, sign-up with just your email address</p>
    </div>
</div>

<div class="content-container" fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap="40px">


    <article fxLayout="column" fxLayoutGap="40px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-headline">Now in Alpha</h2>
            <p>We are proud to be launching Venzra, currently into Alpha with our core functionality now working and rapidly developing new capabilities.</p>
        </div>

        <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <header><mat-icon>money_off</mat-icon></header>
                <h3>Half price subscription</h3>
                <p>Half price offer applies to subscriptions and includes future realised feature pricing, transaction fees are not effected, however cancellation of a subscription will remove access to this offer if it is no longer generally available.</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <header><mat-icon>event_seat</mat-icon></header>
                <h3>VIP treatment</h3>
                <p>As an early adopter of our service you are special to us and we want to make sure you are looked after, so if you need anything in particular that would normally require additional support we are doing these things for free right now. However, bear with us as we are also working hard on refinements for you.</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <header><mat-icon>feedback</mat-icon></header>
                <h3>Feedback wanted</h3>
                <p>During our Alpha we ask that if you find issues with functionality, have trouble with finding how to perform tasks you require or have suggestions to improve existing features or workflows that you send us a message. Perhaps even get a little reward...</p>
            </div>
        </div>
    </article>

    <hr />

    <article fxLayout="column" fxLayoutGap="40px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-headline">Subscription options</h2>
            <p>There are only two types of accounts those who have a subscription and those who do not have a subscription. Customers wanting a cheap way to get a shop up an running on the internet will find our no commitment, subscription free offering a great way to try us out and start making sales online. Once you have begun to establish your account having a subscription give access to more features and lower transaction fees, these accounts have a commitment to the chosen term they are signed up for, however that commitment is only for the base package any additional features are only charged for while activate.</p>
        </div>

        <div fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutGap="20px">
            <mat-card fxFlex>
                <mat-card-title-group>
                    <mat-card-title>Without a Subscription</mat-card-title>
                    <mat-card-subtitle>No commitments</mat-card-subtitle>
                </mat-card-title-group>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Fee of 6% + 30p on each order placed</div>
                            <div matLine>e.g. An order for £20 would have a fee of £1.50</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>No trials, start selling instantly</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>No restrictions on available features</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Close your account at any time</div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>

                <p class="mat-caption">This is a simple way to get a shop up and running, there are no committed payments, just setup your store, let people know they can buy items there and see where it takes you. As you grow you may then consider our subscription to reduce your costs or gain extra features.</p>
            </mat-card>

            <mat-card fxFlex>
                <mat-card-title-group>
                    <mat-card-title>With a Subscription</mat-card-title>
                    <mat-card-subtitle>Customise your package at any time</mat-card-subtitle>
                </mat-card-title-group>

                <mat-card-content fxLayout="column" fxLayoutGap="25px">
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Fee of 3.5% + 30p on each order placed</div>
                            <div matLine>e.g. An order for £20 would have a fee of £1.00</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>{{ subscription.price * 20 | price: subscription.currency }} / {{ subscription.frequency }}</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Add extra features to your package (see below)</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Optional early access to upcoming features</div>
                        </mat-list-item>
                    </mat-list>

                    <mat-form-field>
                        <mat-select placeholder="Preferred subscription method" [(value)]="subscription">
                            <mat-option *ngFor="let plan of plans" [value]="plan">{{ plan.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <p class="mat-caption">No refunds available on outstanding subscription time</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div>
            <p>While all fees are shown based on typical consumer activity, it is possible the actual fees experienced can fluctuate, for example gateway fees are increased for international customers. Currently we only support using Stripe as a payment gateway and pricing is based on their advertised charges.</p>
        </div>
    </article>

    <hr />

    <article fxLayout="column" fxLayoutGap="40px">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-headline">Included features for either option</h2>
            <p>Every account gains access to the following features, there are no restrictions depending on your account type, once signed up you can start using them all.</p>
        </div>

        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Security certificates</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Data is held with in compliance of PCI-DSS requirements so you can be sure customer data is protected</li>
                    <li>Every store gets free SSL certificate giving customers peace of mind when using your store</li>
                    <li>Password encryption and automated security key cycling all taken care of by us</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Personalisation</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Store name and logo</li>
                    <li>Select store colour scheme</li>
                    <li>Configurable shipping options</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Product listings</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Product images</li>
                    <li>Descriptions of products</li>
                    <li>Pricing with "retail" and "sale" pricing</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Customer checkout</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Linked with our payment gateway</li>
                    <li>Create customer accounts</li>
                    <li>Capture shipping and billing information</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Order management</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Keep customers up to date during order fulfilment</li>
                    <li>Attach shipping information</li>
                    <li>Full order history and searching abilities</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel fxHide.xs="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>Analytics</mat-panel-title>
                    <mat-panel-description>Coming soon (Q2 2018)</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Customers visiting the site and products viewed</li>
                    <li>Ability to link products based on user purchases</li>
                    <li>Graphs and charts for order processing and sales values</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel fxHide.xs="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>System notifications</mat-panel-title>
                    <mat-panel-description>Coming soon (Q2 2018)</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Notifications when orders are placed</li>
                    <li>Optional SMS messages to customers when order marked as out for delivery (additional fee per order)</li>
                    <li>Reminders about certain actions and better exception messages</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </article>

    <article fxLayout="column" fxLayoutGap="40px" fxHide.xs="true">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2 class="mat-headline">Optional features for an additional subscription cost</h2>
            <p>These features are available at an extra cost, they allow you to customise your package.</p>
        </div>

        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Stock management</mat-panel-title>
                    <mat-panel-description>
                        <div><span fxHide.xs="true">Coming soon (Q2 2018)</span></div>
                        <del>{{ subscription.price * 5 | price: subscription.currency }} / {{ subscription.interval > 1 ? subscription.interval : '' }} {{ subscription.frequency }}</del>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Manage product features like size and colour</li>
                    <li>Available stock with store warnings for customers</li>
                    <li>Gallery of product images</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Custom store designs</mat-panel-title>
                    <mat-panel-description>
                        <div><span fxHide.xs="true">Coming soon (Q3 2018)</span></div>
                        <del>{{ subscription.price * 10 | price: subscription.currency }} / {{ subscription.interval > 1 ? subscription.interval : '' }} {{ subscription.frequency }}</del>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Select from more store design options to personalise your site further</li>
                    <li>Our store fronts are available as open source, modify them and then upload your own customised design</li>
                    <li>Full customisation available with Venzra to build a store to your requirements (further quotation and costs)</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Events calendar</mat-panel-title>
                    <mat-panel-description>
                        <div><span fxHide.xs="true">Coming soon (Q4 2018)</span></div>
                        <del>{{ subscription.price * 5 | price: subscription.currency }} / {{ subscription.interval > 1 ? subscription.interval : '' }} {{ subscription.frequency }}</del>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Advertise where you might be showing your products</li>
                    <li>Plan and advertise product sales and special events or deals</li>
                    <li>Schedule repeating store changes, product additions / removal  (e.g seasonal goods)</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Domain management</mat-panel-title>
                    <mat-panel-description>
                        <div><span fxHide.xs="true">Coming soon (Q4 2018)</span></div>
                        <del>from {{ subscription.price * 1 | price: subscription.currency }} / {{ subscription.interval > 1 ? subscription.interval : '' }} {{ subscription.frequency }}</del>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Register your own domain with email forwarding</li>
                    <li>Transfer a domain you already own to use</li>
                    <li>Including security (SSL) certificate for the chosen domain</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>

        <div>
            <p>Not all our features are fully listed, there are further capabilities which can be used, however the above list covers all the highlights our customers are using the most.</p>
        </div>
    </article>

</div>
