
<div class="hero" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex="50%">
        <h1>Pricing</h1>
        <h2>Startup or Small Business. Pay as you grow.</h2>
        <venzra-registration></venzra-registration>
        <p class="mat-caption">No subscription required, sign-up with just your email address</p>
    </div>
</div>

<div class="content-container" fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap="40px">

    <section>
        <h2>Types of account</h2>
        <p>There are only two types of accounts those who have a subscription and those who do not have a subscription.</p>
        <p>Subscription accounts have a commitment to the current term they are signed up for, however that commitment is only for the base package any additional features are then only charged for while activated.</p>
    </section>

    <section>
        <h2>Subscription options</h2>

        <div fxLayout.xs="column" fxLayout.sm="column" fxLayout="row" fxLayoutGap="20px">
            <mat-card fxFlex>
                <mat-card-title-group>
                    <mat-card-title>Without a Subscription</mat-card-title>
                    <mat-card-subtitle>No commitments</mat-card-subtitle>
                </mat-card-title-group>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Fee of 6% + 40p on each order placed</div>
                            <div matLine>e.g. An order for £20 would have a fee of £1.60</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>No trials, start selling instantly</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>No restrictions on available features</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Close your account at any time</div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>

                <p class="mat-caption">This is a simple way to get a shop up and running, there are no committed payments, just setup your store, let people know they can buy items there and see where it takes you. As you grow you may then consider our subscription to reduce your costs or gain extra features.</p>
            </mat-card>

            <mat-card fxFlex>
                <mat-card-title-group>
                    <mat-card-title>With a Subscription</mat-card-title>
                    <mat-card-subtitle>Customise your package at any time</mat-card-subtitle>
                </mat-card-title-group>

                <mat-card-content fxLayout="column" fxLayoutGap="25px">
                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Fee of 3.5% + 40p on each order placed</div>
                            <div matLine>e.g. An order for £20 would have a fee of £1.10</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>{{ subscription.price * 20 | price: subscription.currency }} / {{ subscription.frequency }}</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Add extra features to your package (see below)</div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon color="accent" fxHide.xs="true">add_circle</mat-icon>
                            <div matLine>Optional early access to upcoming features</div>
                        </mat-list-item>
                    </mat-list>

                    <mat-form-field>
                        <mat-select placeholder="Preferred subscription method" [(value)]="subscription">
                            <mat-option *ngFor="let plan of plans" [value]="plan">{{ plan.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <p class="mat-caption">No refunds available on outstanding subscription time</p>
                </mat-card-content>
            </mat-card>
        </div>
    </section>

    <section>
        <h2>Included features for either option</h2>
        <p>Every account gains access to the following features, there are no restrictions depending on your account type, once signed up you can start using them all.</p>

        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Personalisation</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Store name and logo</li>
                    <li>Select store colour scheme</li>
                    <li>Banner images</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Product listings</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Product images</li>
                    <li>Descriptions of products</li>
                    <li>Pricing with "retail" and "sale" pricing</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Customer checkout</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Linked with our payment gateway</li>
                    <li>Create customer accounts</li>
                    <li>Capture shipping and billing information</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Order management</mat-panel-title>
                    <mat-panel-description fxHide.xs="true">Included</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Keep customers up to date during order fulfilment</li>
                    <li>Attach shipping information</li>
                    <li>Full order history and searching abilities</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel fxHide.xs="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>Analytics</mat-panel-title>
                    <mat-panel-description>Coming soon (Q2 2018)</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Customers visiting the site and products viewed</li>
                    <li>Ability to link products based on user purchases</li>
                    <li>Graphs and charts for order processing and sales values</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel fxHide.xs="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>System notifications</mat-panel-title>
                    <mat-panel-description>Coming soon (Q2 2018)</mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Notifications when orders are placed</li>
                    <li>Optional SMS messages to customers when order marked as out for delivery (additional fee per order)</li>
                    <li>Reminders about certain actions and better exception messages</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </section>

    <section fxHide.xs="true">
        <h2>Optional features for an additional subscription cost</h2>
        <p>These features are available at an extra cost, they allow you to customise your package.</p>

        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Stock management</mat-panel-title>
                    <mat-panel-description>
                        <div><span fxHide.xs="true">Coming soon (Q2 2018)</span></div>
                        <span class="strike">{{ subscription.price * 5 | price: subscription.currency }} / {{ subscription.interval > 1 ? subscription.interval : '' }} {{ subscription.frequency }}</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Manage product features like size and colour</li>
                    <li>Available stock with store warnings for customers</li>
                    <li>Gallery of product images</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Custom store designs</mat-panel-title>
                    <mat-panel-description>
                        <div><span fxHide.xs="true">Coming soon (Q3 2018)</span></div>
                        <span class="strike">{{ subscription.price * 10 | price: subscription.currency }} / {{ subscription.interval > 1 ? subscription.interval : '' }} {{ subscription.frequency }}</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Select from more store design options to personalise your site further</li>
                    <li>Our store fronts are available as open source, modify them and then upload your own customised design</li>
                    <li>Full customisation available with Venzra to build a store to your requirements (further quotation and costs)</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Events calendar</mat-panel-title>
                    <mat-panel-description>
                        <div><span fxHide.xs="true">Coming soon (Q4 2018)</span></div>
                        <span class="strike">{{ subscription.price * 5 | price: subscription.currency }} / {{ subscription.interval > 1 ? subscription.interval : '' }} {{ subscription.frequency }}</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Advertise where you might be showing your products</li>
                    <li>Plan and advertise product sales and special events or deals</li>
                    <li>Schedule repeating store changes, product additions / removal  (e.g seasonal goods)</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Domain management</mat-panel-title>
                    <mat-panel-description>
                        <div><span fxHide.xs="true">Coming soon (Q4 2018)</span></div>
                        <span class="strike">from {{ subscription.price * 1 | price: subscription.currency }} / {{ subscription.interval > 1 ? subscription.interval : '' }} {{ subscription.frequency }}</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ul>
                    <li>Register your own domain with email forwarding</li>
                    <li>Transfer a domain you already own to use</li>
                    <li>Includes security (SSL) certificate for the chosen domain</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </section>

    <section>
        <h2>Subscription requests</h2>
        <p>We are always listening to feedback and value your ideas. Recommend something you would like to see and if it fits with our product vision we will contact you.</p>
        <p>If we implement a feature you recommend we will credit your account with up to 12 months of your subscription covered, even if your idea has been recommended by others.</p>
    </section>

</div>
