@import '../../../styles';
@import '~@angular/material/theming';

@include mat-core();

.hero {
    padding: 0 20px;
    height: 420px;
    color: #fff;
    background-color: mat-color($venzra-app-primary);

    > div {
        position: relative;
    }

    * {
        white-space: nowrap;
    }

    @media ($mat-xsmall) {
        height: 450px;
    }
}

.content-container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 40px;

    @media ($mat-xsmall) {
        padding: 60px 20px;
    }
}

.headers-align {
    .mat-expansion-panel-header-title {
        flex-basis: 0;
    }
    .mat-expansion-panel-header-description {
        flex-basis: 0;
        justify-content: space-between;
        align-items: center;
    }
}

.steps {
    header {
        width: 4rem;
        height: 4rem;
        margin: 0 0 1rem 0;

        color: #fff;
        border-radius: 999px;
        background-color: mat-color($venzra-app-primary);

        h2, mat-icon {
            text-align: center;
            padding: 1rem 0 0 0;
            width: 2em;
            height: 2em;
            font-size: 2rem;
            font-weight: 200;
        }
    }
}

hr {
    border-top: 2px solid mat-color($venzra-app-primary);
    width: 100%;
}

.features {
    margin-bottom: 10px;
}

