<venzra-banner title="Sign up" align="center">
    <h1>Create your store</h1>
    <h2>It only takes a moment to setup your account and begin.</h2>
</venzra-banner>

<venzra-content>
    <mat-card>
        <mat-card-title>Message sent successfully</mat-card-title>
        <mat-card-subtitle>Your support email is on its way to us.</mat-card-subtitle>

        <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <div>
                <h4>General enquires</h4>
                <p>We review emails every few hours and place them in the appropriate queue.</p>
                <p>If your message is an enquiry about the service or a request for new functionality we will typically respond within 48 hours. If your enquiry is related to an error in the platform we will have our technical teams investigate as soon as possible.</p>
            </div>

            <div>
                <h4>New customers</h4>
                <p>If you have a new account you will automatically be prioritised with our technical teams.</p>
                <p>The first 30 days of opening an account be treated like our subscription holders, meaning you get priority support to help get your started.</p>
            </div>

            <div>
                <h4>Existing customers</h4>
                <p>Accounts that belong to our subscribers with a monthly or annual payment are prioritised.</p>
                <p>If you have an active subscription then we will review your request on receipt, typically answers will be given instantly, however if technical or specialist input is required we will pass this directly to the appropriate team.</p>
            </div>

            <div>
                <h4>Other enquiries</h4>
                <p>Any message that does not fall into the above categories.</p>
                <p>Typically this will be for low risk requests that we have received, such as a question about where to find a certain feature, as these tpyically have answers in our support area we hope you will find the answer there, but if not we will endeavour to get back to you within 3-5 working days.</p>
            </div>
        </mat-card-content>
    </mat-card>
</venzra-content>
