<mat-toolbar class="mat-elevation-z6" color="primary" fxLayoutGap="10px">
    <a routerLink="/" fxLayoutAlign="center"><img src="https://cdn.venzra.com/images/logo/white/venzra-logo-sm.png"></a>
    <a mat-button routerLink="/product">Product</a>
    <a mat-button routerLink="/pricing">Pricing</a>
    <a mat-button routerLink="/support">Support</a>
    <span fxFlex></span>
    <a mat-button [href]="adminPortal">Log in</a>
    <a mat-raised-button routerLink="/register" color="accent">Sign up</a>
</mat-toolbar>
