@import '~@angular/material/theming';
@import '../../../styles';

@include mat-core();

.mat-toolbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .mat-button {
        border-radius: 0;
        padding: 14px 32px;

        &.active {
            background-color: mat-color($venzra-app-primary, 700);
        }
    }

    .mat-raised-button {
        padding: 2px 32px;
    }
}
