<mat-toolbar class="mat-elevation-z6" color="primary">
    <mat-toolbar-row fxLayoutGap="10px">
        <a mat-button routerLink="/" fxLayoutAlign="center"><img src="https://cdn.venzra.com/images/logo/white/venzra-logo-sm.png"></a>
        <div fxHide.xs fxHide.sm fxLayoutGap="10px">
            <a mat-button routerLink="/product" routerLinkActive="active">Product</a>
            <a mat-button routerLink="/pricing" routerLinkActive="active">Pricing</a>
            <a mat-button routerLink="/support" routerLinkActive="active">Support</a>
        </div>
        <span fxFlex></span>
        <a mat-button [href]="adminPortal">Log in</a>
        <a mat-raised-button routerLink="/register" color="accent">Sign up</a>
    </mat-toolbar-row>

    <mat-toolbar-row fxLayoutAlign="start center" fxLayoutAlign.xs="space-around center" fxLayoutGap="10px" fxHide.gt-sm>
        <a mat-button routerLink="/product" routerLinkActive="active">Product</a>
        <a mat-button routerLink="/pricing" routerLinkActive="active">Pricing</a>
        <a mat-button routerLink="/support" routerLinkActive="active">Support</a>
    </mat-toolbar-row>
</mat-toolbar>
