
<div class="hero" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex="50%">
        <h1>Features</h1>
        <h2>Simple. Customise your package.</h2>
        <venzra-registration></venzra-registration>
        <p class="mat-caption">No subscription required, sign-up with just your email address</p>
    </div>
</div>

<div class="content-container" fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap="60px">

    <section>
        <h2>Personalisation</h2>

        <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Store name and logo</h3>
                <p>Lorem ipsum......</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Store colour scheme</h3>
                <p>Lorem ipsum......</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Banner images</h3>
                <p>Lorem ipsum......</p>
            </div>
        </article>
    </section>

    <hr />

    <section>
        <h2>Product listings</h2>

        <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Product images</h3>
                <p>Lorem ipsum......</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Descriptions of products</h3>
                <p>Lorem ipsum......</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Pricing with "retail" and "sale" pricing</h3>
                <p>Lorem ipsum......</p>
            </div>
        </article>
    </section>

    <hr />

    <section>
        <h2>Customer checkout</h2>

        <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Linked with our payment gateway</h3>
                <p>Lorem ipsum......</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Create customer accounts</h3>
                <p>Lorem ipsum......</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Capture shipping and billing information</h3>
                <p>Lorem ipsum......</p>
            </div>
        </article>
    </section>

    <hr />

    <section>
        <h2>Order management</h2>

        <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Keep customers up to date during order fulfilment</h3>
                <p>Lorem ipsum......</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Attach shipping information</h3>
                <p>Lorem ipsum......</p>
            </div>

            <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
                <h3>Full order history and searching abilities</h3>
                <p>Lorem ipsum......</p>
            </div>
        </article>
    </section>

</div>
