@import '../../../styles';
@import '~@angular/material/theming';

@include mat-core();

.hero {
    padding: 0 20px;
    height: 100%;
    color: #fff;
    background-color: mat-color($venzra-app-primary);

    > div {
        position: relative;
    }

    * {
        white-space: nowrap;
    }

    .taglines {
        margin: 40px 0;
        color: rgba(255, 255, 255, 0.67);
    }


    mat-icon {
        height: 48px;
        width: 48px;
        font-size: 48px;
        opacity: 0.67;

        @media ($mat-xsmall) {
            display: none;
        }
    }

    @media ($mat-xsmall) {
        height: 450px;
    }
}

.content-container {
    max-width: 1200px;
    margin: auto;
    padding: 60px 40px;

    @media ($mat-xsmall) {
        padding: 60px 20px;
    }
}

.s48 {
    font-size: 64px;
    width: 64px;
    height: 64px;

    @media ($mat-xsmall) {
        font-size: 48px;
        width: 48px;
        height: 48px;
    }
}

.steps {
    header {
        width: 4rem;
        height: 4rem;
        margin: 0 0 2rem 0;

        color: #fff;
        border-radius: 999px;
        background-color: mat-color($venzra-app-primary);

        h2 {
            text-align: center;
            padding: 1rem 0 0 0;
            font-size: 2rem;
            font-weight: 200;
        }
    }
}

hr {
    border-top: 2px solid mat-color($venzra-app-primary);
    width: 100%;
}

.external-links {
    a {
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.67);
        text-decoration: none;

        &:hover {
            color: mat-color($venzra-app-accent);
        }
    }
}
