
<div class="hero" fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="20%"></div>
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
        <h1 fxHide="true">VENZRA</h1>
        <div class="stage"><a mat-button routerLink="/alpha">alpha</a></div>
        <img src="/assets/logo/white/venzra-logo-lg.png" title="Welcome to Venzra">
        <h2>The ecommerce platform for the heart of your business</h2>
        <venzra-registration></venzra-registration>
        <p class="mat-caption">No subscription required, sign-up with just your email address</p>
        <a mat-icon-button class="scroll" routerLink="."><mat-icon>keyboard_arrow_down</mat-icon></a>
    </div>
</div>

<div class="content-container" fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap="60px">

    <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="auto" fxFlex fxHide.xs="true" fxHide="false">
            <mat-icon class="s48" color="primary">palette</mat-icon>
            <h2>Personalised</h2>
        </div>
        <div fxFlex.xs="auto" fxFlex>
            <h3 class="mat-headline" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon fxShow.xs="true" fxShow="false" color="primary">palette</mat-icon>
                <span>Show off your brand</span>
            </h3>
            <h4 class="mat-title">Configurable store designs</h4>
            <p>While our branding options are currently limited (during alpha and beta phases) features and options will rapidly become available to all users.</p>
            <p>You can select colours and logos for your store, and pick from a selection of different views to advertise products. Checkouts and customer management features are currently not configurable.</p>
        </div>
    </article>

    <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="auto" fxFlex fxFlexOrder="2" fxHide.xs="true" fxHide="false">
            <mat-icon class="s48" color="primary">apps</mat-icon>
            <h2>Simple</h2>
        </div>
        <div fxFlex.xs="auto" fxFlex>
            <h3 class="mat-headline" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon fxShow.xs="true" fxShow="false" color="primary">apps</mat-icon>
                <span>Customise your package</span>
            </h3>
            <h4 class="mat-title">Select and pay for only the functionality you need</h4>
            <p>We are always adding features, you only need to pay for those you want.</p>
            <p>Simply select the features and review your running costs, then apply the changes and instantly gain access to what you need, this allows for the cheapest possible combinations, no more signing up for a platinum package to access that one feature you want, just turn that feature on.</p>
        </div>
    </article>

    <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="auto" fxFlex fxHide.xs="true" fxHide="false">
            <mat-icon class="s48" color="primary">shop_two</mat-icon>
            <h2>Startup or Small Business</h2>
        </div>
        <div fxFlex.xs="auto" fxFlex>
            <h3 class="mat-headline" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon fxShow.xs="true" fxShow="false" color="primary">shop_two</mat-icon>
                <span>Pay as you grow</span>
            </h3>
            <h4 class="mat-title">No cost until you start making money</h4>
            <p>Sign up with just your email address, add products and connect to a payment gateway.</p>
            <p>Once you start selling we take a small transaction fee, and once you have established your online presence there are options to pay a small subscription to reduce transaction fees and begin adding further features.</p>
        </div>
    </article>

    <hr />

    <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
        <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
            <header><h2>1</h2></header>
            <h3>Setup a store front</h3>
            <p>Creating an account is easy, just provide your email address and follow the instructions in the email we send you. Then add details on how you want to be paid and setup any custom information about your store via our admin portal.</p>
        </div>

        <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
            <header><h2>2</h2></header>
            <h3>Market your products</h3>
            <p>Once you have setup your core account information add the products you want to sell on your store. You can provide images and descriptions about your products, and with a subscription you can also manage stock details.</p>
        </div>

        <div class="steps" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="auto" fxFlex="33%">
            <header><h2>3</h2></header>
            <h3>Manage consumer sales</h3>
            <p>Your store is online and customers can begin making purchases. But to reach your potential you will need to advertise, we support effective SEO options, however there are many ways today to advertise your online store and we can help recommend some tried and tested methods.</p>
        </div>
    </article>

    <hr />

    <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="auto" fxFlex fxFlexOrder="2" fxHide.xs="true" fxHide="false">
            <mat-icon class="s48" color="primary">loyalty</mat-icon>
            <h2>Simple</h2>
        </div>
        <div fxFlex.xs="auto" fxFlex>
            <h3 class="mat-headline" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon fxShow.xs="true" fxShow="false" color="primary">loyalty</mat-icon>
                <span>Change anything at anytime</span>
            </h3>
            <h4 class="mat-title">Feel free to try it out and leave it out</h4>
            <p>You can add and remove features whenever you like, there is no minimum requirement. If you think a feature might help and want to try it out, or if you are just wondering what something does, simply toggle it on and off subject to any pro rata fees associated.</p>
            <p>Even closing your account is simple and can be done anytime, subject to any outstanding payments. However loyalty is rewarded so you may want to consider any changes to expect if you were to then rejoin.</p>
        </div>
    </article>

    <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="auto" fxFlex fxHide.xs="true" fxHide="false">
            <mat-icon class="s48" color="primary">data_usage</mat-icon>
            <h2>No Limits</h2>
        </div>
        <div fxFlex.xs="auto" fxFlex>
            <h3 class="mat-headline" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon fxShow.xs="true" fxShow="false" color="primary">data_usage</mat-icon>
                <span>Unlimited data and customers</span>
            </h3>
            <h4 class="mat-title">Do what you want when you want</h4>
            <p>We do not have any limits on how many products or images you can add or the users that can interact with your site.</p>
            <p>To ensure your store can reach the maximum user base with the best performance they can receive, we do impose some restrictions on size of files uploaded.</p>
        </div>
    </article>

    <article fxLayout.xs="column" fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="auto" fxFlex fxFlexOrder="2" fxHide.xs="true" fxHide="false">
            <mat-icon class="s48" color="primary">new_releases</mat-icon>
            <h2>Modern</h2>
        </div>
        <div fxFlex.xs="auto" fxFlex>
            <h3 class="mat-headline" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon fxShow.xs="true" fxShow="false" color="primary">new_releases</mat-icon>
                <span>Flowing with technology</span>
            </h3>
            <h4 class="mat-title">Built on the latest technology frameworks</h4>
            <p>Our software is built on the fastest and most recent web technologies, this means we can react fast to changing technologies and ensure support for the future of online transactions. Build with Agile best practices and continuous delivery platforms all ensure the best solutions are powering your online presence.</p>
            <p>This means you can be comfortable in knowing we will keep up with security and performance needs of the modern world, ensuring thats your customers are protected from online threats. If you think you have found an issue when using the software please contact us asap and we will review and rectify the issue if deemed to be under our supported conditions.</p>
        </div>
    </article>

</div>
