<venzra-banner title="Prize draws" icon="loyalty">
    <h1>Prize draws</h1>
    <h2>Rewarding our customers and those who find us.</h2>
    <p>We believe that everyone deserves a chance to win something by just going about their business.</p>
</venzra-banner>

<venzra-content background="light">
    <h2>Our customers</h2>
    <p>As a customer you will be automatically entered into a monthly draw which has a number of possible prizes that changes each month. This often includes free subscription time, bottles of wine or experiences.</p>

    <h3>Specific terms and conditions</h3>
    <p>In additional to the general terms below, the following rules apply to this draw.</p>

    <ol>
        <li>Only customers who have made at least one sale, with their store on Venzra, in a particular month will be included.</li>
    </ol>
</venzra-content>

<venzra-content>
    <h2>Our sponsorship</h2>
    <p>We are a proud sponsor of one of our local golf courses <a href="https://www.twistedstonegc.co.uk">Twisted Stone Golf Course</a>. If you find our sign at the course and take a photo and share it with us on social media, you will then be entered to our draw to win a free round of golf for yourself and three friends.</p>

    <h3>Specific terms and conditions</h3>
    <p>In additional to the general terms below, the following rules apply to this draw.</p>

    <ol>
        <li>Photos must be clear to show the sign at which you have seen this prize draw.</li>
        <li>Photos must be uploaded and include the tag <code>@VenzraCommerce</code>, if you do not include this tag you will not be entered.</li>
        <li>Every photo entered (subject to any other clauses listed here) will give one entry to the draw, so if in one month you post 3 photos you and there are 50 in total you have a 3 in 50 chance to win.</li>
        <li>You may only enter one photo per day that is shared on the specified social media accounts that we monitor.</li>
        <li>Your entry will only be for the month on which you posted your photo, to enter more than one month a new photo must be posted for that month.</li>
    </ol>
</venzra-content>

<venzra-content background="light">
    <h2>General terms and conditions for prizes.</h2>
    <p>All draws share the following terms and conditions to qualify and receive prizes.</p>
    <ol>
        <li>Prize draws occur on the 10th of each month and are for the previous month ending on the corresponding calendar day, winners will be announced on our social media accounts.</li>
        <li>As we do not hold personal details for all those who may qualify for our prize draws, you will have 30 days to claim your prize from when we announce the winner, however if we do hold your personal details this is not required as we will contact you.</li>
        <li>Employees of Venzra cannot qualify for entry into our prize draws.</li>
    </ol>
</venzra-content>
