@import '../../../styles';
@import '../../../../node_modules/@angular/material/theming';
@include mat-core();

.venzra-banner-background {
    background-color: mat-color($venzra-app-primary);
    overflow: hidden;
}

.venzra-banner {
    position: relative;
    margin: 0 auto;
    padding: 60px 16px;
    max-width: 1280px;
    color: mat-color($venzra-app-primary, '500-contrast');
}


.venzra-banner-content {
    position: relative;
    z-index: 2;
}

.venzra-banner-icon {
    position: absolute;
    right: 16px;
    bottom: 0;
    color: mat-color($venzra-app-primary, 400);
    font-family: "Material Icons";
    font-size: 256px;
    line-height: 256px;
    opacity: 0.5;
    z-index: 1;
}
