
<div class="hero" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex="50%">
        <h1 class="mat-display-1">Agreement Terms for Venzra</h1>
        <venzra-registration></venzra-registration>
        <p class="mat-caption">No subscription required, sign-up with just your email address</p>
    </div>
</div>

<div class="content-container" fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap="40px">
    <section>
        <h2>Introduction</h2>
        <p>This agreement is between you and Sysen Ltd (trading as Venzra), Alton, Hampshire, United Kingdom. We are the owner and operator of Venzra (the Service).</p>
    </section>

    <section>
        <h2>1. Definitions Used</h2>
        <p>1.1. Unless the context otherwise requires, the definitions applicable to these Terms and Conditions are:</p>
        <p><strong>Service</strong><br />The Venzra Software as a Service Platform.</p>
        <p><strong>Provider</strong><br />Sysen Ltd is the owner and supplier of the Service.</p>
        <p><strong>Consumer</strong><br />The user of the Service. This organisation or person will set up and run their Shop. This includes, but is not limited to, the appearance of the Shop front and all customer facing activities.</p>
        <p><strong>Shop</strong><br />The retail outlet of the Consumer.</p>
        <p><strong>Customer</strong><br />A user of any Shop.</p>
    </section>

    <section>
        <h2>2. Use of the Service</h2>
        <p>2.1. The Service provides a Consumer with the ability to set up and operate web based electronic shopping facilities for their Customers. Use of this Service will be deemed to be an agreement to these Terms and Conditions.</p>
    </section>

    <section>
        <h2>3. General Provisions</h2>
        <p>3.1. This agreement is between the Provider and the Consumer.</p>
        <p>3.2. The Consumer and their Customers may need to come to separate agreements for which the Provider is not involved and takes no responsibility.</p>
        <p>3.3. A Consumer is entitled to a single Shop. The Shop can split it into departments to sell their range of products. The product range is not limited by the Service.</p>
        <p>3.4. There is no limit to the number of Consumers (and hence Shops) that can be supported by the Provider.</p>
        <p>3.5. The generation, management, running and disposal of a Shop remains the responsibility of the Consumer.</p>
        <p>3.6. The Consumer is responsible for all engagements with any Customers of the Shop.</p>
        <p>3.7. The Consumer is responsible for the conformance with any statutory rules or laws relating to the Shop.</p>
    </section>

    <section>
        <h2>4. Inappropriate Materials and Use</h2>
        <p>4.1. The Consumer is responsible for ensuring there is no unlawful, offensive or abusive material within the offerings of their Shop content.</p>
        <p>4.2. If the Provider becomes aware of any inappropriate materials in a Shop content, they are entitled to take action appropriate to the material. This can include suspension of the account or other actions. In this case the Provider will not be responsible for any losses incurred by the Consumer.</p>
        <p>4.3. The Consumer will not sublet this Service to other parties.</p>
    </section>

    <section>
        <h2>5. Guaranties and Refunds</h2>
        <p>5.1. The Provider is not responsible for the Shop products offered by the Consumer. It does not guarantee, warrant, underwrite or in any other way become involved with these products, other than providing a conveyance mechanism (i.e. eCommerce tools to enable retail activities).</p>
        <p>5.2. The Consumer is responsible for all refunds and corrective actions associated with their Shop.</p>
        <p>5.3. The Consumer is responsible for the terms and conditions associated with their Shop products.</p>
    </section>

    <section>
        <h2>6. Marketing and Consent</h2>
        <p>6.1. We reserve the right to use your name or your company, organisation or legal entity's name as a reference for marketing and promotional purposes on Venzra materials. This includes use of your company, organisation or legal entity's logo on Venzra materials. If you wish to decline us this right, you need to email us at <span>support</span><span>@</span><span>venzra.com</span> telling us that you do not wish to be used as a reference.</p>
        <p>6.2. You consent to receiving from time to time, electronic messages from us which market or promote our goods and services. We will cease to send you electronic messages if at any time you instruct us to cease sending such electronic messages.</p>
    </section>

    <section>
        <h2>7. Third Party Terms and Conditions</h2>
        <p>7.1. The Provider uses Third Parties for Secure Payments and Resources. The Provider does not take responsibility for the performance of these parties, but will aim to choose reputable sources. Explicit carry forwards Terms and Conditions are listed below:</p>
        <p><strong>Payment Processing Services</strong><br />Payment processing services for subscribers on Venzra are provided by Stripe and are subject to the <a href="https://stripe.com/connect-account/legal" target="_blank">Stripe Connected Account Agreement</a>, which includes the <a href="https://stripe.com/legal" target="_blank">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”). By agreeing to this agreement or continuing to operate as a subscriber on Venzra, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of Venzra enabling payment processing services through Stripe, you agree to provide Venzra accurate and complete information about you and your business, and you authorize Venzra to share it and transaction information related to your use of the payment processing services provided by Stripe.</p>
    </section>

    <section>
        <h2>8. Service Charges</h2>
        <p>8.1. The Consumer will pay the Provider in accordance with the agreed charging rate and process.</p>
        <p>8.2. The Consumer can mutually agree with the Provider an increased or decreased level of Service at any time, with appropriate changes to the charging rate.</p>
        <p>8.3. The Provider will make any payments to the supplier of the Secure Payment Gateway through the charges already built into the Consumer payments.</p>
        <p>8.4. The Consumer is responsible for the setting and management of their Shop prices.</p>
        <p>8.5. The Provider will simply collate shopping revenue based on the Consumer settings at the point of sale.</p>
    </section>

    <section>
        <h2>9. Service Improvements</h2>
        <p>9.1. The Provider is entitled to make improvement and updates to the Service.</p>
        <p>9.2. The Provider will aim for continuous availability of the Service and enhanced user experience; however specific guaranties are not given.</p>
    </section>

    <div class="mat-caption">Sysen Ltd updated on 28th January 2018</div>
</div>
