<venzra-banner title="Pricing" icon="account_balance">
    <h1>Simple Pricing</h1>
    <h2>No up-front costs, no lock-in contract.</h2>
    <p>The most flexible pricing that enables growth with your business.</p>
</venzra-banner>

<venzra-content>
    <div class="highlights" fxLayout="row wrap" fxLayoutGap="20px grid" align="center">
        <div fxFlex="50%" fxFlex.gt-sm="33.33%">
            <p class="mat-body-2">Monthly</p>
            <h3>Free</h3>
            <p class="mat-caption">Subscription options available</p>
        </div>
        <div fxFlex="50%" fxFlex.gt-sm="33.33%">
            <p class="mat-body-2">Card Transaction Fee</p>
            <h3>1.4% european cards</h3>
            <p class="mat-caption">2.9% non-european cards</p>
        </div>
        <div fxFlex="50%" fxFlex.gt-sm="33.33%">
            <p class="mat-body-2">Venzra Transaction Fee</p>
            <h3>2.1% with subscription</h3>
            <p class="mat-caption">4.6% with no subscription</p>
        </div>
    </div>
</venzra-content>

<venzra-content>
    <div align="center">
        <a mat-raised-button routerLink="/register" class="signup" color="accent">Sign up for free</a>
    </div>
</venzra-content>

<venzra-content>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px">
        <mat-card fxFlex>
            <mat-card-title>Start-up</mat-card-title>
            <mat-card-content>Start selling online with no monthly commitments.</mat-card-content>

            <mat-card-content>
                <div align="center">
                    <p class="mat-body-2">Monthly</p>
                    <h1>Free</h1>
                    <p>Sign up and get started</p>
                </div>

                <mat-list>
                    <mat-list-item>
                        <h4 matLine>eCommerce platform</h4>
                        <p matLine>Manage product listings, and generate revenue.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>

                    <mat-list-item>
                        <h4 matLine>Personalised store</h4>
                        <p matLine>Customise store with your own branding.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>

                    <mat-list-item>
                        <h4 matLine>Pay as you go</h4>
                        <p matLine>Fee of 6% + 30p on transactions.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>

                    <mat-list-item>
                        <h4 matLine>Analytics</h4>
                        <p matLine>Customer carts and orders, optional Google Analytics.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>

                    <mat-list-item>
                        <h4 matLine>No restrictions</h4>
                        <p matLine>Unlimited usage, available features are fully functional.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex>
            <mat-card-title>Small Business</mat-card-title>
            <mat-card-content>Grow your business with additional choices and reduced fees.</mat-card-content>

            <mat-card-content>
                <div align="center">
                    <div fxLayout="row" fxLayoutGap="60px" fxLayoutAlign="center">
                        <div>
                            <p class="mat-body-2">Monthly</p>
                            <h1>£15</h1>
                        </div>
                        <div>
                            <p class="mat-body-2">Annual</p>
                            <h1>£150</h1>
                        </div>
                    </div>
                    <p>Add a monthly or annual subscription when you grow</p>
                </div>

                <mat-list>
                    <mat-list-item>
                        <h4 matLine>All of the start-up features</h4>
                        <p matLine>Everything from the start-up package plus more choice.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>

                    <mat-list-item>
                        <h4 matLine>Tier-less package</h4>
                        <p matLine>Add extra features and only pay for what you need.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>

                    <mat-list-item>
                        <h4 matLine>Lower transaction rate</h4>
                        <p matLine>Reduced fee of 3.5% + 30p on transactions.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>

                    <mat-list-item>
                        <h4 matLine>Priority support</h4>
                        <p matLine>Support requests will be prioritised in the queue.</p>
                        <mat-icon color="accent">check</mat-icon>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</venzra-content>
