<div class="venzra-footer-background">
    <div class="venzra-footer" fxLayout="column" fxLayoutGap="20px">
        <div class="venzra-footer-links" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center start">
            <div fxFlex="200px">
                <mat-nav-list dense>
                    <h4 matSubheader>Resources</h4>
                    <a mat-list-item routerLink="/about">About us</a>
                    <a mat-list-item routerLink="/contact">Contact us</a>
                    <a mat-list-item routerLink="/prizes">Prize draws</a>
                </mat-nav-list>
            </div>
            <div fxFlex="200px">
                <mat-nav-list dense>
                    <h4 matSubheader>Legal</h4>
                    <a mat-list-item routerLink="/legal/terms-of-service">Terms of service</a>
                    <a mat-list-item routerLink="/legal/privacy-policy">Privacy policy</a>
                </mat-nav-list>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center start">
            <a href="https://twitter.com/VenzraCommerce" target="_blank" rel="noopener"><img src="https://cdn.venzra.com/images/social/twitter.svg" alt="Twitter" title="Twitter" /></a>
            <a href="https://www.facebook.com/VenzraCommerce" target="_blank" rel="noopener"><img src="https://cdn.venzra.com/images/social/facebook.svg" alt="Facebook" title="Facebook" /></a>
            <a href="https://www.linkedin.com/showcase/venzra/" target="_blank" rel="noopener"><img src="https://cdn.venzra.com/images/social/linkedin.svg" alt="LinkedIn" title="LinkedIn" /></a>
        </div>
        <p class="mat-caption" align="center">&copy; Copyright <strong>Venzra</strong> since 2018</p>
    </div>
</div>
