
<div class="hero" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex="50%">
        <h1>Guides</h1>
        <h2>Modern. Proven design and experience.</h2>
        <venzra-registration></venzra-registration>
        <p class="mat-caption">No subscription required, sign-up with just your email address</p>
    </div>
</div>

<div class="content-container" fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap="40px">

    <section>
        <h2>Getting started</h2>
        <p>Registration is quick and easy, just provide your email address and we will send a registration message to you. This is so we can ensure your account belongs to you.</p>
        <p>Confirmation of your account is done via a link in this email and requires setting up a password to login with.</p>
        <p>Activate your store allowing customers to place orders by providing your bank account details to our payment gateway. We will send you weekly payments for any purchases made on your store after any fees incurred.</p>
        <p>Now you can customise your store and upload products to sell. Choose a name for your store for free using our domain giving you a presence on the internet.</p>
        <p>Take a look at our live demo store at <a href="https://demo.venzra.io" target="_blank">https://demo.venzra.io</a></p>
    </section>

    <section>
        <h2>Videos</h2>
        <p>The following video guides are aimed to help get you started with your online store.</p>
    </section>

    <section>
        <h3>Alpha</h3>
        <p>For our Alpha we have created just two videos, one explains how to get your store up and running, the other is a how to on using the store for your customers. In future releases longer videos will be available covering the features available in more detail.</p>
        <p>During our Alpha phase if you have questions not covered in the videos or not enough information was provided, please contact us and we will be happy to walk though the steps to get your store moving.</p>
    </section>

</div>
