
<div class="hero" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex="50%">
        <div class="stage"><a mat-button routerLink="/alpha">alpha</a></div>
        <h1>Guides</h1>
        <h2>Modern. Flowing with technology.</h2>
        <venzra-registration></venzra-registration>
        <p class="mat-caption">No subscription required, sign-up with just your email address</p>
    </div>
</div>

<div class="content-container" fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap="40px">

    <section>
        <h2>Guides</h2>
        <p>The following video guides are aimed to help get you started with your online store.</p>
    </section>

    <section>
        <h2>Alpha</h2>
        <p>For our Alpha we have created just two videos, one explains how to get your store up and running, the other is a how to on using the store for your customers. In future releases longer videos will be available covering the features available in more detail.</p>
        <p>During our Alpha phase if you have questions not covered in the videos or not enough information was provided, please contact us and we will be happy to walk though the steps to get your store moving.</p>
    </section>

</div>
