
<div class="hero" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex="50%">
        <h1 class="mat-display-1">Contact us</h1>
        <venzra-registration></venzra-registration>
        <p class="mat-caption">No subscription required, sign-up with just your email address</p>
    </div>
</div>

<div class="content-container" fxLayout="column" fxLayoutGap.xs="20px" fxLayoutGap="40px">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px" fxLayoutGap.gt-sm="40px">
        <section fxFlex.gt-sm="66%" fxFlex="initial">
            <form fxLayout="column" fxLayoutGap="20px" (submit)="contact()" [formGroup]="contactForm">
                <h2>Send us a message</h2>

                <mat-form-field>
                    <input matInput placeholder="Your name" formControlName="alias" />
                    <mat-error *ngIf="contactForm.controls['alias'].hasError('required')">This field is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Your email address" formControlName="emailAddress" />
                    <mat-error *ngIf="contactForm.controls['emailAddress'].hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="contactForm.controls['emailAddress'].hasError('pattern')">A valid email address is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Reason for your message" formControlName="reason" required>
                        <mat-option *ngFor="let choice of reasons" [value]="choice.value">{{ choice.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="contactForm.controls['reason'].hasError('required')">This field is required</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput rows="8" placeholder="How we can help further..." formControlName="message"></textarea>
                    <mat-error *ngIf="contactForm.controls['message'].hasError('required')">This field is required</mat-error>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button type="submit" color="primary" [disabled]="contactForm.pristine || contactForm.invalid">Send message</button>
                </div>
            </form>
        </section>

        <section fxLayout="column" fxLayoutGap="20px" fxFlex.gt-sm="33%" fxFlex="initial">
            <h2>Registered offices</h2>
            <address>
                <strong>Sysen Limited</strong><br />
                Whistler Lodge<br />
                3 Maple Place<br />
                Alton, UK<br />
                GU34 5GL
            </address>
        </section>
    </div>

    <section fxLayout="column" fxLayoutGap="20px">
        <h2>Frequently Asked Questions</h2>

        <div>
            <h3>How does Venzra compare with other eCommerce platforms?</h3>
            <p>Venzra is unique in how we run our platform, customers who have a monthly turnover of less than &pound;10,000 in a month with an average transaction of &pound;20 will find we have the cheapest prices on the internet for selling your goods unless you are to build an online store yourself which is in itself a very technical and costly process.</p>
        </div>

        <div>
            <h3>How much does it cost to setup my shop?</h3>
            <p>Nothing. There are no fees to setup your account and configure your shop. However if you are after assistance on complicated matters we do suggest considering contacting a freelancer or ourselves to discuss more complicated needs.</p>
        </div>

        <div>
            <h3>At what point do I need to get a subscription?</h3>
            <p>Never. We do not require that you ever take up a subscription, we are a true believer in not making money unless our customers are making money. However if you require certain paid for features then you will need the basic subscription to be able to activate these extras.</p>
        </div>

        <div>
            <h3>What limitations are there on non-subscription accounts?</h3>
            <p>None. Both forms of account have unlimited bandwidth and storage available to use. There are limitations for both accounts in areas such as individual file upload sizes, this is to help ensure that visitors to your store dont experience performance issues. Subscription holders are also able to activate additional platform features that can benefit certain businesses as they grow or with niche requirements.</p>
        </div>

        <div>
            <h3>Can I cancel my account at any time?</h3>
            <p>Yes. You may cancel your account any time, however we will provide further information at the time as you may be due outstanding payments from recent orders. If you have a subscription then the base subscription is not refundable however we will refund any extras you are not longer using.</p>
        </div>

        <div>
            <h3>What security measures are in place?</h3>
            <p>We do all we can to protect our customers, all accounts have data encryption in place and we as PCI DSS v3.2 compliant in how we manage data, this is the most up to date compliance for handling online transactions, requiring the highest standards when processing payments.</p>
        </div>

        <div>
            <h3>How are transaction fees calculated?</h3>
            <p>Whenever there is an order placed on your shop the fee is broken into two parts, Venzra take a fee of between 2.1% and 4.6% depending on if you have a subscription in place, then there is also the payment processing element managed by Stripe this ranges from 1.4% to 2.9% depending on the type of card your customers make their payment with and how you have setup your account on Stripe.</p>
        </div>

        <div>
            <h3>Who owns my data?</h3>
            <p>You. We hold all your data in our secure database, during our Alpha we can assist in extracting the data should you choose to leave us and would like a copy, however we shall make this data available in the future automatically should you choose to leave.</p>
        </div>

        <div>
            <h3>Can I create a shop anywhere in the world?</h3>
            <p>Mostly. Our software is hosted and managed from the UK as such all subscriptions and fees are charged in GBP, however you can select to have your payment gateway in your local currencies. During Alpha we have not implemented full support for internationalisation as such some currency symbols may not be supported, however please contact us to highlight any such issues and we will strive to resolve them as soon as possible.</p>
        </div>

        <div>
            <h3>I would like to be able to create my own store?</h3>
            <p>We offer a number of default store templates that are configurable with simple drop down or drag and drop options. This is an area we are also working hard and fast to bring more flexibility to. We have plans to also Open Source our store template code, allowing those with technical skills or teams to alter the templates and then upload them for use, giving total flexibility in the future.</p>
        </div>
    </section>

</div>
