@import '~@angular/material/theming';

.highlights {
    .mat-icon {
        height: 48px;
        width: 48px;
        font-size: 48px;
        line-height: 48px;
    }

    @media ($mat-xsmall) {
        text-align: center;
    }

    @media ($mat-small) {
        text-align: center;
    }
}

img {
    width: 100%;
    max-width: 480px;
}
