<venzra-banner title="eCommerce" icon="store">
    <h1>Start selling online today</h1>
    <h2>Venzra helps get your business online.</h2>
    <p>Growing with your business needs it is ideal for entrepreneurs, start-ups and small businesses. Access new customers and enable repeat purchases from the comfort of your home or on the high street.</p>
</venzra-banner>

<venzra-content background="light">
    <h2>Discover a simpler way to do business online</h2>
    <p>Venzra is here to give you a quick and simple way to build your online business, we are always improving the platform so you don't need to worry about staying up to date. Using our administration console the changes you want to make are just a few clicks away with no need to write any HTML, JavaScript or CSS. Venzra is designed to keep you working lean and reduce the cost of selling online.</p>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="30px">
        <div fxFlex fxFlex.gt-sm="280px" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" width="200px" />
        </div>
        <div class="highlights" fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center center" fxFlex="grow">
            <div fxFlex="50%">
                <mat-icon>trending_up</mat-icon>
                <h3>Analytics</h3>
                <p>A simple way to check the state of your business.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>shopping_cart</mat-icon>
                <h3>Products</h3>
                <p>Create and manage the advertising of your products.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>create</mat-icon>
                <h3>Content</h3>
                <p>Enable additional content pages to give your customers more information.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>local_shipping</mat-icon>
                <h3>Orders</h3>
                <p>Keep informed of new orders and the status of those being fulfilled.</p>
            </div>
        </div>
    </div>
</venzra-content>

<venzra-content>
    <h2>Discover a flexible way to build your business</h2>
    <p>All businesses look forward to growth, and with growth comes new and different needs. Venzra enables a simple way to change what functionality you have access to, at the click of a button you can add or remove extra features at any time with no minimum term.</p>

    <div fxLayout="column-reverse" fxLayout.gt-sm="row" fxLayoutGap="30px">
        <div fxFlex>
            <mat-list>
                <h3 class="mat-subheader">We have a different approach to being flexible</h3>
                <mat-list-item>
                    <h4 matLine>Getting started</h4>
                    <p matLine>New to selling online, no problem. <a routerLink="/register">Sign up</a> to our no cost, no commitment platform and start selling today.</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 matLine>Tier-less</h4>
                    <p matLine>You will not find any standard vs pro package with us. Just add a subscription then pick the features you need.</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 matLine>No lock-in</h4>
                    <p matLine>If you want to just try out a feature turn it on and off on the same day, six months later, or keep it forever.</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 matLine>No restrictions</h4>
                    <p matLine>We do not enforce any limits, upload images, associate users and transfer as much data as you require.</p>
                </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex fxFlex.gt-sm="280px" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" width="200px" />
        </div>
    </div>
</venzra-content>

<venzra-content background="light">
    <h2>Discover a faster way to get paid</h2>
    <p>No strings attached, when your customers make purchases we validate their payments and put the money into your account as soon as possible. Our payment gateway allows you to configure this on a basis that best suits your accounting.</p>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="30px">
        <div fxFlex fxFlex.gt-sm="280px" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" width="200px" />
        </div>
        <div class="highlights" fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center center" fxFlex="grow">
            <div fxFlex="50%">
                <mat-icon>golf_course</mat-icon>
                <h3>Connected</h3>
                <p>Run your business from anywhere. At home on the move or in the office.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>assignment_turned_in</mat-icon>
                <h3>Invoicing</h3>
                <p>When an order is placed the invoice is sent automatically.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>security</mat-icon>
                <h3>Protected</h3>
                <p>All purchases are checked at point of sale, to minimise fraud and protect money.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>account_balance</mat-icon>
                <h3>Payouts</h3>
                <p>Payouts via proven a gateway, Stripe.</p>
            </div>
        </div>
    </div>
</venzra-content>

<venzra-content>
    <h2>Discover a safer way to protect your customers</h2>
    <p>It is important for a modern website to have modern security practices. Cyber-security is a constantly changing goal, we work with standards and best practices with Venzra. Frequent release cycles mean when a vulnerability is found either with our software or the technologies used it will be patched in the shortest time possible.</p>

    <div fxLayout="column-reverse" fxLayout.gt-sm="row" fxLayoutGap="30px">
        <div fxFlex>
            <mat-list>
                <h3 class="mat-subheader">Here are a few of the ways we are doing this</h3>
                <mat-list-item>
                    <h4 matLine>SSL-Certificates</h4>
                    <p matLine>All our customers get an HTTPS (SSL-Certificate) with TLS 1.2 for their domains at no extra cost.</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 matLine>PCI-DSS</h4>
                    <p matLine>We are compliant with industry standards for security this includes the latest PCI-DSS v3.2.
                </mat-list-item>
                <mat-list-item>
                    <h4 matLine>OWASP Top-10</h4>
                    <p matLine>This is a set of common practices used by hackers, we design from the ground up to protect from these.</p>
                </mat-list-item>
                <mat-list-item>
                    <h4 matLine>Encryption</h4>
                    <p matLine>Sensitive data, such as user passwords are encrypted with one-way algorithms that cannot be decoded.</p>
                </mat-list-item>
            </mat-list>
        </div>
        <div fxFlex fxFlex.gt-sm="280px" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" width="200px" />
        </div>
    </div>
</venzra-content>

<venzra-content background="light">
    <h2>Discover more with Venzra</h2>
    <p>We want to be there for all our customers, small, large and everything in between. If you are looking for that something to improve your store, or how to break into a new sector, get in touch. Subscribers get priority support to help with using the platform. However if you need a tailored solution we are happy to discuss and work with you to deliver this.</p>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="30px">
        <div fxFlex fxFlex.gt-sm="280px" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="start center">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" width="200px" />
        </div>
        <div class="highlights" fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="center center" fxFlex="grow">
            <div fxFlex="50%">
                <mat-icon>palette</mat-icon>
                <h3>Personalised</h3>
                <p>Looking for a custom experience for your customers, contact us.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>camera</mat-icon>
                <h3>Managed content</h3>
                <p>Looking for photography for your products or transcripts, we can help.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>public</mat-icon>
                <h3>Global</h3>
                <p>If you make sales overseas get in touch to discuss international opportunities.</p>
            </div>
            <div fxFlex="50%">
                <mat-icon>favorite</mat-icon>
                <h3>Continuous improvement</h3>
                <p>Feedback is always welcome, if there is a feature you are looking for please contact us.</p>
            </div>
        </div>
    </div>
</venzra-content>
